VITE_RABBIT_TEST_WS: [insert your test ws here]
VITE_RABBIT_TEST_JWT: [insert your test jwt key here]
VITE_RABBIT_PROD_WS: [insert your prod ws key here]
VITE_RABBIT_PROD_JWT: [insert your prod jwt key here]
